body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    vertical-align: middle;
}

.container{
    display: block;
    max-width: 1500px;
    margin: auto;
    margin-top: 150px;
}

.container-cart {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 0px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cart-items, .cart-summary {
    flex: 1;
    margin: 10px;
}
.cart-items {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 18px;
    padding: 20px;
    background-color: #D9D9D9;
}
.cart-item {
    display: flex;
    background-color: #ffffff;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.cart-item-details {
    flex: 1;
    margin-left: 20px;
}
.item-details {
    margin: 20px;
  }
  
  .item-details h4 {
    margin: 0;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
  }
  
  .cart-item-controls p {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
  }

  .cart-item-controls {
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-direction: column;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .cart-item-controls button {
    background-color: #ddd;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cart-item-controls .favorite-btn,
  .cart-item-controls .delete-btn {
    background-color: transparent !important;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .delete-btn  {
    width: 20px;
  }
  
  .cart-item-controls .favorite-btn:hover,
  .cart-item-controls .delete-btn:hover {
    background-color: transparent !important;
  }

.cart-item-actions {
    text-align: right;
    padding-right: 10px;
}
.cart-item-actions button {
    height: 23px;
}
.cart-summary {
    max-width: 30%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.empty-cart-message {
    text-align: center;
}   

.empty-cart-message a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #377197;
    margin-bottom: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: #909090 0 2px 2px;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
   
}

.empty-cart-message a:hover{
    color: #1E4965;
    background-color: white;
}
.title{
    margin: 15px;
}
.summary-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.promo-code {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.promo-code input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}
.promo-code input[type="text"]:focus::placeholder{
    padding: 6px;
    color: #fff;
    transition: color 0.4s;
    margin-right: 10px;
    border: none;
    width: 700px;
    height: 30px;
    border-radius: 4px;
}

.checkout-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    filter: brightness(50%);
    transition: 0.6s;
    font-size: medium;
}
.btn-secondary {
    background-color: #007bff;
}