.container{
    display: flex;
    margin: 140px 50px 50px 50px;
    justify-content: space-between;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 3px rgba(130, 130, 130, 0.1);
    min-height: 650px;
    max-height: 100%;
    border-radius: 10px;
    width: 280px;
}

.main-content {
    width: 80%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
}


.profile-form{
    gap: 55px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.profile-picture form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    gap: 60px;
}

.input-group input {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.input-group-gender{
    display: flex;
    gap: 60px;
}

.gender label{
    font-size: 20px;
    display: flex;
    width: 136px;
    outline: none;
    border: none;
    background-color: #ffffff00;
    border-radius: 5px;
}

.input-group p{
    font-size: 20px;
    outline: none;
    border: none;
    color: rgb(107, 107, 107);
    background-color: #ffffff;
    border-radius: 5px;
    width: 400px;
}

.option{
    width: 450px;
    display: flex;
    gap: 20px;
}

.option label{
    font-size: 18px;
}

.input-group label {
    font-size: 20px;
    width: 136px;
    outline: none;
    border: none;
    background-color: #ffffff00;
    border-radius: 5px;
}

.date{
    width: 400px;
}

.date input{
    width: max-content;
}

.profile-section{
    display: flex;
    justify-content: space-between;

}

.profile-picture img{
    width: 250px;
    height: 250px;
    rotate: 90deg;
    object-fit: cover;
}

.profile-picture{
width: 300px;
height: 400px;
box-shadow:  rgba(141, 150, 170, 0.4) 0px 1px 4px;;
}

.profile-container{
    text-align: center;
}

.profile-header img{
text-align: center;
box-shadow: rgba(101, 107, 120, 0.4) 0px 1px 4px;
width: 80px;
border-radius: 10px;
height: 80px;
object-fit: cover;
border-radius: 50%;
margin: 10px;
}

.profile-header{
    display: flex;
    justify-content: center;
}

.line{
    width: 100%;
    height: 1px;
    background-color:#284c64;
    margin: 20px 0;
}

.profile-form button{
    background-color: #265b7e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    width: max-content;
}

.profile-section button:hover{
    background-color:#327bab;
    color:#ffffff;
}

.submit{
    display: flex;
    justify-content: center;
}

.upload-button{
    position: relative;
    padding: 11px 16px;
    font-size: 18px;
    border-radius: 4px;
    border:0;
    overflow: hidden;
    background-color: #265b7e;
    transition: 0.2s;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 250px;
    height: 40px;
}

.upload-button input[type="file"] {
    cursor: pointer;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity : 0;
}

.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content{
    width: 400px;
    height: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.popup-content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.popup-content form input{
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
    outline: none;
    font-size: 14px;
}

.popup-content form button{
    margin-top: 15px;
    padding: 10px;
    background-color: #1E4965;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.popup-content form button:hover{
    background-color: #28638a;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(128, 128, 128);
}

.error-message{
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(133, 0, 0);
}

.password{
    display: flex;
    padding-top:20px ;
    justify-content: center;
}

.password button{
    background-color: #265b7e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sidebar-menu a{
    font-size: 18px;
    width: 90%;
    color: #265b7e;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 8px;
    border: #4d4d4d 1px solid;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    box-shadow: rgba(141, 150, 170, 0.4) 0px 1px 4px;
}

.sidebar-menu a:hover{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background-color: #265b7e;
}

.sidebar-menu a.active{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background-color: #265b7e;
}